name: Cypress Tests
on: [push]
jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - uses: jwalton/gh-find-current-pr@v1
        id: findPr
      - name: Set URL for Staging
        if: github.ref_name == 'main'
        run: echo "BASE_URL=https://{{ cookiecutter.project_slug|replace('_', '-') }}-staging.herokuapp.com/" >> $GITHUB_ENV
      - name: Set URL for PR
        if: success() && steps.findPr.outputs.number
        run: echo "BASE_URL=https://{{ cookiecutter.project_slug|replace('_', '-') }}-pr-${PR}.herokuapp.com/" >> $GITHUB_ENV
        env:
          PR: {{ "${{ steps.findPr.outputs.pr }}" }}
      - name: Raise for error
        if: env.BASE_URL == ''
        run: exit 1
    outputs:
      BASE_URL: {{ "${{ env.BASE_URL }}" }}
  Chrome:
    needs: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run against {{ "${{ needs.Setup.outputs.BASE_URL }}" }}
        uses: cypress-io/github-action@v4
        with:
          working-directory: client
          browser: chrome
        env: 
          NPM_CONFIG_PRODUCTION: false
          CYPRESS_TEST_USER_EMAIL: "cypress@example.com"
          CYPRESS_TEST_USER_PASS: {{ "${{ secrets.CYPRESS_TEST_USER_PASS }}" }}
          CYPRESS_baseUrl: {{ "${{ needs.Setup.outputs.BASE_URL }}" }}
  Firefox:
    needs: Setup
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node16.14.2-slim-chrome103-ff102  # https://github.com/cypress-io/cypress-docker-images/tree/master/browsers
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run against {{ "${{ needs.Setup.outputs.BASE_URL }}" }}
        uses: cypress-io/github-action@v4
        with:
          working-directory: client
          browser: firefox
        env: 
          NPM_CONFIG_PRODUCTION: false
          CYPRESS_TEST_USER_EMAIL: "cypress@example.com"
          CYPRESS_TEST_USER_PASS: {{ "${{ secrets.CYPRESS_TEST_USER_PASS }}" }}
          CYPRESS_baseUrl: {{ "${{ needs.Setup.outputs.BASE_URL }}" }}
