{%- raw %}
{% load i18n %}
{% autoescape off %}

Hello!
{% blocktrans %}You are receiving this email because you requested to reset your password for your {% endraw -%}{{ cookiecutter.project_name }}{%- raw %} account.

Please go to the following page to choose a new password:{% endblocktrans %}
{% block reset_link %}
{{ domain }}/password/reset/confirm/{{ uid }}/{{token}}
{% endblock %}

{% trans " Your username (in case you forgot) is: " %} {{ user.get_username }}
{% blocktrans %}
Thanks for using {% endraw -%}{{ cookiecutter.project_name }}!{%- raw %}

- The {%- endraw %}{{ cookiecutter.project_name }}{%- raw %} Team
{% endblocktrans %}
{% endautoescape %}
{% endraw -%}
