
{% load i18n %}
{% autoescape off %}

Hello!
{% blocktrans %}You are receiving this email because you requested to reset your password for your tailtestaccount.
Please go to the following page to choose a new password:{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/password/reset/confirm/{{ uid }}/{{token}}
{% endblock %}

{% trans " Your username (in case you forgot) is: " %} {{ user.get_username }}
{% blocktrans %}
Thanks for using tailtest!

- Thetailtest Team
{% endblocktrans %}
{% endautoescape %}
