{% raw -%}
{% load i18n %}
{% autoescape off %}

Hello!
{% blocktrans %}You are receiving this email because you requested to reset your password for your {% raw -%}{{ cookiecutter.project_name }}{% endraw -%}{% raw -%} account.
Please go to the following page to choose a new password:{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/password/reset/confirm/{{ uid }}/{{token}}
{% endblock %}

{% trans " Your username (in case you forgot) is: " %} {{ user.get_username }}
{% blocktrans %}
Thanks for using {% endraw -%}{{ cookiecutter.project_name }}!

- The {{ cookiecutter.project_name }} Team
{% raw -%}
{% endblocktrans %}
{% endautoescape %}
{% endraw -%}