name: Cypress Tests
on: push
jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - uses: jwalton/gh-find-current-pr@v1
        id: findPr
      - name: Set URL for Staging
        if: github.ref_name == 'main'
        run: echo "BASE_URL=https://my_project-staging.herokuapp.com/" >> $GITHUB_ENV
      - name: Set URL for PR
        if: success() && steps.findPr.outputs.number
        run: echo "BASE_URL=https://my_project-pr-${PR}.herokuapp.com/" >> $GITHUB_ENV
        env:
          PR: ${{ steps.findPr.outputs.pr }}
      - name: Raise for error
        if: env.BASE_URL == ''
        run: exit 1
    outputs:
      BASE_URL: ${{ env.BASE_URL }}
  Chrome:
    runs-on: ubuntu-20.04
    needs: Setup
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run against ${{ needs.Setup.outputs.BASE_URL }}
        uses: cypress-io/github-action@v2
        with:
          working-directory: client
          browser: chrome
          headless: true
        env: 
          NPM_CONFIG_PRODUCTION: false
          CYPRESS_TEST_USER_EMAIL: ${{ secrets.CYPRESS_TEST_USER_EMAIL }}
          CYPRESS_TEST_USER_PASS: ${{ secrets.CYPRESS_TEST_USER_PASS }}
          CYPRESS_baseUrl: ${{ needs.Setup.outputs.BASE_URL }}
  Firefox:
    runs-on: ubuntu-latest
    needs: Setup
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run against ${{ needs.Setup.outputs.BASE_URL }}
        uses: cypress-io/github-action@v2
        with:
          working-directory: client
          browser: firefox
          headless: true
        env: 
          NPM_CONFIG_PRODUCTION: false
          CYPRESS_TEST_USER_EMAIL: ${{ secrets.CYPRESS_TEST_USER_EMAIL }}
          CYPRESS_TEST_USER_PASS: ${{ secrets.CYPRESS_TEST_USER_PASS }}
          CYPRESS_baseUrl: ${{ needs.Setup.outputs.BASE_URL }}
