#
# This file configures npm to use the auth token specified in the NPM_PRIVATE_TOKEN variable to authenticate requests
# to download packages.
#
# NOTE: This file is required in order to download private NPM packages when running in CI/CD or in a deployed
#       server environment.
#

//registry.npmjs.org/:_authToken=${NPM_READ_ONLY_TOKEN}
