name: Linter
on: [push]
jobs:
  Black:
    strategy:
      matrix:
        fe_type: [react, vue]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - name: Install bootstrapper dependencies
        run: pipenv install --dev --deploy
      - run: |
          config_file="cookiecutter/${{ matrix.fe_type }}_template.yaml"
          pipenv run cookiecutter . --config-file $config_file --no-input -f
      - name: Run Black
        working-directory: ./my_project/server
        run: |
          pipenv install --dev --deploy
          pipenv run black --check .
  flake8:
    strategy:
      matrix:
        fe_type: [react, vue]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - name: Install bootstrapper dependencies
        run: pipenv install --dev --deploy
      - run: |
          config_file="cookiecutter/${{ matrix.fe_type }}_template.yaml"
          pipenv run cookiecutter . --config-file $config_file --no-input -f
      - name: Run flake8
        working-directory: ./my_project/server
        run: |
          pipenv install --dev --deploy
          pipenv run flake8
  ESLint_and_Prettier:
    strategy:
      matrix:
        fe_type: [react, vue]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - name: Install bootstrapper dependencies
        run: pipenv install --dev --deploy
      - run: |
          config_file="cookiecutter/${{ matrix.fe_type }}_template.yaml"
          pipenv run cookiecutter . --config-file $config_file --no-input -f
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        env:
          NPM_CONFIG_PRODUCTION: false
        working-directory: ./my_project/client
        run: npm install
      - name: Run ESLint
        working-directory: ./my_project/client
        run: npx eslint --ext .js,.ts,.vue,.jsx,.tsx src
