name: Unit Tests
on: [push]
jobs:
  Pytest_CookieCutter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: pipenv install --dev --deploy
      - name: Test with pytest
        run: pipenv run pytest
  Pytest_Generated_Project:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: my_project_test_db
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      matrix:
        fe_type: [react, vue]
    steps:
      - uses: actions/checkout@v3
      - run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pipenv'
      - name: Install bootstrapper dependencies
        run: pipenv install --dev --deploy
      - run: |
          config_file="cookiecutter/${{ matrix.fe_type }}_template.yaml"
          pipenv run cookiecutter . --config-file $config_file --no-input -f
      - name: Pytest, McCabe, and Coverage
        run: |
          cd my_project
          pipenv install --dev --deploy --skip-lock
          pipenv run pytest --mccabe --cov=my_project -vv server/my_project
          pipenv run coverage report --fail-under=20
